body {
    margin: 0;
    padding: 0;
    background-color: rgb(241, 241, 241);
}

h1 {
    text-align: center;
    font-weight: 300;
    letter-spacing: 0.05em;
    font-size: 3.5em;
    color: rgb(59, 58, 58);
    width: 75vw;
    margin-inline: auto;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    width: 75vw;
    background-color: rgb(255, 255, 255);
}

.inputs {
    margin-top: 0.8em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 1.5em;
}

.inputs * {
    margin-inline: 1em;
    font-size: 1em;
    height: 1.5em;
}

#taskInput {
    width: 60%;
    height: 1.5em;
}

h3 {
    font-weight: 300;
    letter-spacing: 0.1em;
    font-size: 2em;
    color: rgb(59, 58, 58);
    text-align: center;
}

.taskList{
    width: 80%;
    text-align: center;
}

.newTaskContainer {
    width: 100%;
    margin-block: 1em;
}

.newTaskContainer > input {
    margin-inline: 1em;
    font-size: 1em;
    height: 1.5em;
}

.doneTask {
    opacity: 0.5;
    text-decoration: line-through;
    color: green;
    background-color: rgb(66, 197, 66);
}

.newTask {
    font-weight: 600;
    letter-spacing: 0.05em;
    border:none;
    border-bottom: 1px solid gray;
    text-align: center;
    width: max(30%, 80%);
}

.inputs > img,
.newTaskContainer > img {
    width: 2em;
    height: 2em;
}